<footer class="footer mt-auto py-3 bg-dark" style="position:fixed;bottom: 0; width: 100%;">
  <div class="container text-center">
      <span class="text-muted">&copy; 2024 Internet Banking. All rights reserved.</span>
  </div>
</footer>
