<!-- views/error.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error - Internet Banking System</title>
    <link href="../public/css/bootstrap.min.css" rel="stylesheet">
    <link href="../public/css/style.css" rel="stylesheet">
</head>
<body>

  <%- include('partials/header') %>

  <div class="container mt-4">
      <h1>Oops! Something went wrong.</h1>
      <p>We're sorry, but there was an error processing your request.</p>
  </div>

  <%- include('partials/footer') %>


</body>
</html>
